Django==5.0.2
pymysql==1.1.0
django-allauth==65.7.0
django-cleanup==9.0.0
django-cors-headers==4.3.1
django-crispy-forms==2.4
django-redis==6.0.0
djangorestframework==3.14.0
pillow==9.5.0
requests==2.31.0
PyJWT==2.8.0
cryptography==42.0.5